.Container_Cabecera {
	position: fixed;
	top: 0px;
	background-color: white;
	box-shadow: 3px 6px 11px #05a0db;
	height: 90px;
	width: 100vw;
	z-index: 3;
}

.Logo_Cabecera {
	margin-top: 10px;
	width: 120px;
}
