.Cards_ShowUsers {
	display: flex;
	flex-direction: column;
	max-width: 80vw;
	min-width: 350px;
	margin: 0 auto;
	align-items: center;
}

.UserCard_ShowUsers {
	background-color: rgb(14 41 74);
	margin: 40px;
	display: flex;
	border-radius: 20px;
	box-shadow: 0px 6px 11px #05a0db;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 20px;
	width: 93vw;
}

.WrapperMenu_ShowUsers {
	display: flex;
	position: relative;
	top: -46px;
	color: white;
}
/*!DELETE*/
.MenuCardDelete_ShowUsers {
	position: relative;
	top: 0px;
	left: 35px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.MenuCardDelete_ShowUsers_Expand {
	position: relative;
	top: 0px;
	left: -35px;
	opacity: 1;
	transition: all 0.5s ease-in-out;
}
/*!EXPAND*/
.MenuCardExpand_ShowUsers {
	position: relative;
	top: 0px;
	left: 0px;
	transition: all 0.5s ease-in-out;
}

.MenuCardExpand_ShowUsers_Expand {
	position: relative;
	top: 0px;
	left: 0px;
	transform: rotate(360deg);
	transition: all 0.5s ease-in-out;
}

/*!EDIT*/

.MenuCardEdit_ShowUsers {
	position: relative;
	top: 0px;
	right: 35px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.MenuCardEdit_ShowUsers_Expand {
	position: relative;
	top: 0px;
	right: -35px;
	opacity: 1;
	transition: all 0.5s ease-in-out;
}

.Wrapper_ShowUsers {
	position: relative;
	top: -46px;
}

.Wrapper_Id {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Wrapper_Id .Title_ShowUsers {
	color: #db0594;
}

.Title_ShowUsers {
	margin-top: 5px;
	font-size: 23px;
	color: #05a0db;
	text-align: left;
}

.Title_ShowUsers + div {
	font-size: 15px;
	margin-top: 10px;
	margin-left: 20px;
	color: white;
	text-align: left;
}

.Title_ShowUsers + div {
	background-color: white;
	margin: 0;
	height: 52px;
	color: black;
	padding: 18px;
	border-radius: 10px;
	box-shadow: inset 0px 5px 15px 1px #05a0db, inset 1px 3px 0px 0px #000000;
	font-family: monospace;
	width: 100%;
	margin-left: 0px;
	margin-top: 0px;
	font-size: 12px;
	min-width: 307px;
	text-shadow: 6px 7px 4px rgb(0 0 0 / 50%);
}

.MenuCard_ShowUsers {
	color: white;
	top: -46px;
	position: relative;
}

.Avatar_ShowUsers {
	background-color: #05a0db;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position: relative;
	top: -60px;
	margin: 0 auto;
	border: 4px solid white;
}

.AvatarImg_ShowUsers {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin: 0 auto;
	border: 4px solid white;
	position: relative;
	left: -4px;
	top: -2px;
}

.Avatar_ShowUsers::before {
	content: "";
	position: absolute;
	top: 44%;
	left: -23px;
	width: 20px;
	height: 19px;
	background: transparent;
	border-radius: 0 13px 0 0;
	box-shadow: 2px -9px 0 0 white;
	z-index: 0;
}

.Avatar_ShowUsers::after {
	content: "";
	position: absolute;
	top: 44%;
	right: -23px;
	width: 20px;
	height: 19px;
	background: transparent;
	border-radius: 13px 0 0 0;
	box-shadow: -3px -5px 0 0 white;
	z-index: 0;
}

@media only screen and (min-width: 700px) {
	.UserCard_ShowUsers {
		flex-direction: row;
		display: flex;
		/* height: 134px; */
		flex-wrap: wrap;
	}

	.Avatar_ShowUsers {
		/* background-color: #05a0db; */
		/* width: 90px; */
		/* height: 90px; */
		/* border-radius: 50%; */
		/* position: relative; */
		top: -90px;
		/* margin: 0 auto; */
		/* border: 4px solid white; */
		margin-left: 56px;
	}

	.Title_ShowUsers {
		margin-top: 0px;
		font-size: 18px;
		color: #05a0db;
	}

	.Title_ShowUsers + div {
		background-color: transparent;
		margin: 0;
		height: 52px;
		color: white;
		padding: 18px;
		border-radius: 0px;
		box-shadow: none;
		font-family: monospace;
		width: 100%;
		font-size: 12px;
		text-shadow: 6px 7px 4px rgb(0 0 0 / 50%);
	}

	.Wrapper_ShowUsers {
		/* padding: 10px; */
		top: 31px;
		/* display: flex; */
		/* flex-direction: row; */
		/* flex-wrap: wrap; */
		max-width: 168px;
	}

	.Wrapper_Id {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin: 55px;
	}
	/* .UserCard_ShowUsers {
		flex-direction: row;
		justify-content: flex-start;
		display: flex;
		font-size: 18px;
		align-items: center;
		flex-wrap: nowrap;
		height: 200px;
	}

	.Wrapper_ShowUsers {
		padding: 10px;
	}

	.WrapperMenu_ShowUsers {
		display: flex;
		position: relative;
		top: 28px;
		color: white;
		flex-direction: column;
	}

	.Avatar_ShowUsers {
		background-color: #05a0db;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		position: relative;
		top: -60px;
		margin: 0 auto;
		border: 4px solid white;
	}

	.Title_ShowUsers {
		margin-top: 5px;
		font-size: 18px;
		color: #05a0db;
	}

	.Title_ShowUsers + div {
		background-color: transparent;
		margin: 0;
		height: 52px;
		color: white;
		padding: 18px;
		border-radius: 0px;
		box-shadow: none;
		font-family: monospace;
		width: 100%;
		font-size: 12px;
		text-shadow: 6px 7px 4px rgb(0 0 0 / 50%);
	}

	.MenuCardExpand_ShowUsers_Expand {
		position: relative;
		top: -84px;
		left: 0px;
		transform: rotate(360deg);
		transition: all 0.5s ease-in-out;
	} */
}
