@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");

html {
	font-family: "Raleway", sans-serif;
}

.App {
	text-align: center;
	margin-bottom: 50px;
	/* background-image: url("https://as2.ftcdn.net/v2/jpg/02/11/57/29/1000_F_211572979_qFoAFWlfGbp1uEP3J8MkqsVmklGDMA62.jpg"); */
}

.Article_App {
	margin-top: 120px;
}

h1 {
	color: #0f2a6adb;
}

.Footer_App {
	position: fixed;
	bottom: 0px;
	background-color: rgb(5, 60, 52);
	color: #f0ffff;
	width: 100%;
	z-index: 3;
}
