@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");

html {
	font-family: "Raleway", sans-serif;
}

.App {
	text-align: center;
	margin-bottom: 50px;
}

.Article_App {
	margin-top: 120px;
}

.Footer_App {
	position: fixed;
	bottom: 0px;
	background-color: rgb(5, 60, 52);
	color: #f0ffff;
	width: 100%;
	z-index: 3;
}
